/* Font */
@font-face {
  font-family: 'sega-font';
  src:url("../fonts/SEGA.TTF");
}

/* General */
body{
  background-color: #a91212;
}

div, h1, ::after, ::before, section{
  position: absolute;
}


/* Css - Console Master System II */

/* Parts -*/

.base-console{
  width: 1200px;
  height: 640px;
  margin-top:60px;
  left: 50%;
  margin-left:-600px;
  background-color: #2225252e;
  z-index: 1;
}

.part01-console{
  width: 700px;
  height: 65px;
  border: 2px solid red;
  transform: rotateZ(13deg);
  left: 75px;
  top:200px;
  border-top: 15px solid #202122 ;
  border-right: 170px solid #252628;
  border-bottom: 214px solid #202122;
  border-left: 150px solid #252628;
  background-color: #3c3d3f;
  box-shadow: 18px 113px #3c3d3f;
  z-index: 6;
}

.part02-console{
  width: 1004px;
  height: 74px;
  border-top: 2px solid #524e4e;
  border-left:  2px solid #524e4e;
  border-bottom:  2px solid #d0c5c5;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 4px;
  background-color: #202122;
  box-shadow: 12px 44px #3c3d3f;
  transform: skewY(5deg) rotateZ(8deg);
  left: 43px;
  top:484px;
  z-index: 6;
}

.part03-console{
  width: 1004px;
  height: 290px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #343537;
  transform: rotateZ(13deg);
  left: 83px;
  top: 333px;
  z-index: 3;
}

.part04-console{
  width: 0px;
  height: 0px;
  border-left: 22px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 11px solid #343537;
  transform: rotateZ(194deg);
  left: 51px;
  bottom: 131px;
  z-index: 6;
}

.part05-console{
  width: 0px;
  height: 0px;
  border-left: 25px solid transparent;
  border-right: 27px solid transparent;
  border-bottom: 40px solid #3c3d3f;
  transform: rotate(208deg);
  left: 32px;
  bottom: 146px;
  z-index: 4;
}

.part06-console{
  width: 0px;
  height: 0px;
  border-left: 68px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 131px solid #3c3d3f;
  transform: rotate(383deg);
  right: 65px;
  bottom: 201px;
  z-index: 2;
}

.part07-console{
  width: 991px;
  height: 59px;
  border-top: 4px solid red; ;
  border-left: 2px solid #524e4e;
  border-right: 2px solid #524e4e; ;
  border-bottom: 2px solid #524e4e;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #202122;
  transform: skewY(5deg) rotateZ(8deg);
  left: 49px;
  top: 490px;
  z-index: 7;
}

.part08-console{
  width: 320px;
  height: 197px;
  border-top: 4px solid #a91212;; ;
  border-left: 2px solid #a91212;;
  border-right: 1px solid #fff; ;
  border-bottom: 1px solid #fff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #a91212;
  transform:rotateZ(13deg);
  left: 567px;
  top: 314px;
  z-index: 7;
}

.part09-console{
  width: 319px;
  height: 266px;
  border-top: 2px solid #202121;
  border-left: 4px solid #2d2f2f;;
  border-right: 4px solid #2d2f2f; ;
  border-bottom: 4px solid #2d2f2f;
  transform:rotateZ(13deg);
  left: 573px;
  top: 249px;
  z-index: 7;
}

.part10-console{
  width: 281px;
  height: 30px;
  border-top: 15px solid #343537;
  border-left: 20px solid #202122;;
  border-right: 18px solid #202122; ;
  border-bottom: 5px solid #202122;
  transform:rotateZ(13deg);
  left: 598px;
  top: 268px;
  z-index: 7;
}

.part10-console::before{
  content:"";
  width: 303px;
  height: 34px;
  border-top: 8px solid #202122;
  border-left: 8px solid #202122;
  border-right: 8px solid #202122;
  border-bottom: 8px solid #202122;
  transform:rotateZ(0deg);
  left:-20px;
  top: -17px;
  z-index: 7;
}

.part10-console::after{
  content: "";
  width: 238px;
  height: 2px;
  border-top: 3px solid #000;
  border-left: 0.5px solid #000;
  border-right: 0.5px solid #000;
  border-bottom: 2px solid transparent;
  transform: rotateZ(0deg);
  left: 20px;
  top: 0px;
  z-index: 7;
}

.part11-console{
  width: 327px;
  height: 14px;
  border-top: 4px solid transparent;
  border-bottom: 2px solid #2d2f2f;
  transform: rotateZ(13deg);
  left: 602px;
  top:246px;
  z-index: 7;
}

.part12-console{
  width: 0px;
  height: 0px;
  border-top: 10px solid #202122;
  border-left: 20px solid transparent;
  border-right: 20px solid #202122;
  border-bottom: 10px solid #202122;
  border-bottom-right-radius: 8px;
  transform: rotateZ(13deg);
  left: 603px;
  top: 242px;
  z-index: 7;
}

.part12-console::after{
  content: "";
  width: 0px;
  height: 0px;
  border-top: 10px solid #202122;
  border-left: 20px solid transparent;
  border-right: 20px solid #202122;
  border-bottom: 10px solid #202122;
  border-top-right-radius: 8px;
  transform: rotateZ(180deg);
  left: 261px;
  top: -10px;
  z-index: 7;
}

.part13-console{
  width: 172px;
  height: 50px;
  border-top: 2px solid #524e4e;
  border-left: 2px solid #524e4e;
  border-right: 2px solid #524e4e;
  border-bottom: 2px solid #202122;
  border-radius: 2px 2px 0px 0px;
  background-color: #202122;
  transform: rotateZ(13deg);
  right:358px;
  bottom: 37px;
  z-index: 7;
}

.part14-console{
  width: 136px;
  height: 58px;
  border-top: 28px solid #a6a5aa;
  border-left: 15px solid #524e4e;
  border-right: 10px solid #524e4e; ;
  border-bottom: 2px solid #d0c5c5;
  border-radius: 2px 2px 2px 2px;
  background-color: #202122;
  transform: rotateZ(13deg);
  right:371px;
  bottom: -4px;
  z-index: 7;
}

.part15-console{
  width: 121px;
  height: 44px;
  border-top: 10px solid #000;
  border-left: 4px solid #000;
  border-right: 10px solid #000;
  border-bottom: 2px solid transparent;
  background-color: #202122;
  transform: rotateZ(13deg);
  right:385px;
  bottom: 0px;
  z-index: 7;
}

.part16-console{
  width: 320px;
  height: 35px;
  background-color: #000;
  transform: rotateZ(13deg);
  left: 585px;
  top: 329px;
  z-index: 8;
}

.part17-console{
  width: 147px;
  height: 20px;
  border: 1px solid #fff;
  transform: rotateZ(13deg);
  left: 592px;
  top: 317px;
  z-index: 9;
}

.part17-console::after{
  content: "";
  width: 147px;
  height: 20px;
  border: 1px solid #fff;
  transform: rotateZ(0deg);
  left: 160px;
  top: -1px;
  z-index: 9;
}

.part18-console{
  width: 49px;
  height: 13px;
  border-right: 1px solid #464141;
  border-bottom: 1px solid #464141;
  border-radius: 1px;
  background-color: #202122;
  box-shadow: 4px 5px #202122;
  transform: rotateZ(13deg);
  left: 605px;
  top: 308px;
  z-index: 10;
}

.part19-console{
  width: 1px;
  height: 6px;
  border-radius: 1px;
  background-color: #464141;
  transform: rotateZ(-28deg);
  right:546px;
  top: 327px;
  z-index: 10;
}

.part19-console::before{
  content: "";
  width: 1px;
  height: 6px;
  border-radius: 1px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #202122;
  transform: rotateZ(131deg);
  right:-14px;
  top: -8px;
  z-index: 10;
}

.part19-console::after{
  content: "";
  width: 1px;
  height: 6px;
  border-radius: 1px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #202122;
  transform: rotateZ(-136deg);
  right:33px;
  top: -30px;
  z-index: 10;
}


.part20-console{
  width: 49px;
  height: 13px;
  border-right: 1px solid #464141;
  border-bottom: 1px solid #464141;
  border-radius: 1px;
  background-color: #202122;
  box-shadow: 4px 5px #202122;
  transform: rotateZ(13deg);
  right: 317px;
  top: 361px;
  z-index: 10;
}

.part21-console{
  width: 1px;
  height: 6px;
  border-radius: 1px;
  background-color: #464141;
  transform: rotateZ(-28deg);
  right:318px;
  top: 380px;
  z-index: 10;
}

.part21-console::before{
  content: "";
  width: 1px;
  height: 6px;
  border-radius: 1px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #202122;
  transform: rotateZ(131deg);
  right:-14px;
  top: -8px;
  z-index: 10;
}

.part21-console::after{
  content: "";
  width: 1px;
  height: 6px;
  border-radius: 1px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #202122;
  transform: rotateZ(-136deg);
  right:33px;
  top: -30px;
  z-index: 10;
}

.part22-console{
  width: 56px;
  height: 23px;
  border: 1px solid #fff;
  transform: rotateZ(13deg);
  left: 702px;
  top: 385px;
  z-index: 9;
}

.part22-console::after{
  content: "";
  width: 56px;
  height: 23px;
  border: 1px solid #fff;
  transform: rotateZ(0deg);
  left: 37px;
  top: 70px;
  z-index: 9;
}

.part23-console{
  width: 59px;
  height: 25px;
  border: 2px solid #fff;
  background-color: #000;
  transform: rotateZ(13deg);
  left: 792px;
  top: 441px;
  z-index: 9;
}

.part24-console{
  width: 0px;
  height: 8px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 90px solid #fff;
  transform: rotateZ(105deg);
  left: 658px;
  top:373px;
  z-index: 9
}

.part25-console{
  width: 0px;
  height: 8px;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 80px solid #000;
  transform: rotateZ(105deg);
  left: 657px;
  top:377px;
  z-index: 9
}

.part26-console{
  width: 80px;
  height: 1px;
  left: 714px;
  top: 440px;
  transform: rotateZ(13deg);
  background-color: #fff;
  z-index: 9;
}

.part26-console::before{
  content: "";
  width: 37px;
  height: 1px;
  left: -123px;
  top: -2px;
  transform: rotateZ(0deg);
  background-color: #fff;
  z-index: 9;
}

.part27-console{
  width: 55px;
  height: 12px;
  left: 610px;
  top: 363px;
  transform: rotateZ(13deg);
  background-color: #fff;
  z-index: 9;
}

.part27-console::after{
  content: "";
  width: 55px;
  height: 12px;
  left: 48px;
  top: 83px;
  transform: rotateZ(0deg);
  background-color: #fff;
  z-index: 9;
}

.part28-console{
  width: 0px;
  height: 4px;
  left: 687px;
  top: 414px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 20px solid #338245;
  transform: rotateZ(105deg);
  z-index: 9;
}

.part29-console{
  width: 35px;
  height: 1px;
  left: 604px;
  top: 365px;
  background-color: #fff;
  transform: rotateZ(13deg);
  z-index: 9;
}

.part29-console::after{
  content: "";
  width: 42px;
  height: 1px;
  left: 16px;
  top: 83px;
  background-color: #fff;
  transform: rotateZ(0deg);
  z-index: 9;
}

.part30-console{
  width: 1px;
  height: 42px;
  left: 600px;
  top: 361px;
  background-color: #fff;
  transform: rotateZ(13deg);
  z-index: 9;
}

.part30-console::after{
  content: "";
  width: 1px;
  height: 42px;
  left: 16px;
  top: 41px;
  background-color: #fff;
  transform: rotateZ(0deg);
  z-index: 9;
}

.part31-console{
  width: 1px;
  height: 24px;
  left: 723px;
  top: 409px;
  background-color: #fff;
  transform: rotateZ(13deg);
  z-index: 9;
}

.part31-console::after{
  content: "";
  width: 1px;
  height: 22px;
  left: 38px;
  top: 24px;
  background-color: #fff;
  transform: rotateZ(0deg);
  z-index: 9;
}

.part32-console{
  width: 305px;
  height: 14px;
  right: 339px;
  bottom: 134px;
  background-color: #000;
  transform: rotateZ(13deg);
  z-index: 9;
}

.part33-console{
  width: 1px;
  height: 18px;
  left: 646px;
  top: 262px;
  background-color: #5a5a5a;
  transform: rotateZ(13deg);
  z-index: 9;
}

.part33-console::after{
  content: "";
  width: 1px;
  height: 18px;
  left: 223px;
  top: 0px;
  background-color: #5a5a5a;
  transform: rotateZ(0deg);
  z-index: 9;
}

.part34-console{
  width: 72px;
  height: 11px;
  left: 118px;
  bottom:  184px;
  border: 1px solid #fff;
  background-color: #ab0f05;
  transform: rotateZ(13deg);
  z-index: 9;
}

.part34-console::after{
  content: "";
  width: 72px;
  height: 11px;
  left: 771px;
  bottom:  0px;
  border: 1px solid #fff;
  transform: rotateZ(0deg);
  z-index: 9;
}

.part35-console{
  width: 72px;
  height: 11px;
  left: 461px;
  bottom:  105px;
  border: 1px solid #fff;
  transform: rotateZ(13deg);
  z-index: 9;
}

.part35-console::after{
  content: "";
  width: 72px;
  height: 11px;
  left: 80px;
  bottom:  -1px;
  border: 1px solid #fff;
  transform: rotateZ(0deg);
  z-index: 9;
}

.part36-console{
  width: 171px;
  height: 27px;
  transform: skewY(20deg) rotateZ(-7deg);
  left: 445px;
  bottom: 45px;
  border: 1px solid #333435;
  border-left: 4px solid #000;
  border-bottom: 4px solid #000;
  border-radius: 6px;
  z-index: 9;
}

.part37-console{
  width: 67px;
  height: 30px;
  transform: skewY(20deg) rotateZ(-7deg);
  left: 113px;
  bottom: 129px;
  background-color: #424446;
  border: 0.5px solid #5f5959;
  box-shadow: 5px -4px #353638;
  border-radius: 2px;
  z-index: 9;
}

.part38-console{
  width: 54px;
  height: 19px;
  border-top: 2px solid #000;
  border-left: 4px solid #000;
  border-right: 2px solid #000;
  border-bottom: 4px solid #000;
  border-radius: 8px;
  background-color: #202122;
  transform: skewY(20deg) rotateZ(-7deg);
  right: 675px;
  bottom: 61px;
  z-index: 7;
}

.part38-console::after{
  content: "";
  width: 54px;
  height: 19px;
  border-top: 2px solid #000;
  border-left: 4px solid #000;
  border-right: 2px solid #000;
  border-bottom: 4px solid #000;
  border-radius: 8px;
  background-color: #202122;
  transform: skewY(0deg) rotateZ(0deg);
  right: -81px;
  bottom: -4px;
  z-index: 7;
}

.part39-console{
  width: 0px;
  height: 0px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 4px solid #ccc;
  border-radius: 8px;
  transform: rotateZ(192deg);
  left: 148px;
  top: 457px;
  z-index: 7;
}

.part39-console::before{
  content: "";
  width: 0px;
  height: 0px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 4px solid #ccc;
  border-radius: 8px;
  transform: rotateZ(0deg);
  left: -357px;
  top: -13px;
  z-index: 7;
}

.part39-console::after{
  content: "";
  width: 0px;
  height: 0px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 4px solid #ccc;
  border-radius: 8px;
  transform: rotateZ(0deg);
  left: -437px;
  top: -14px;
  z-index: 7;
}

.part40-console{
  width: 0px;
  height: 8px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 6px solid #fff;
  transform: rotateZ(104deg);
  right: 565px;
  top: 404px;
  z-index: 7;
}

.part40-console::after{
  content: "";
  width: 0px;
  height: 8px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 6px solid #fff;
  transform: rotateZ(0deg);
  right: -1px;
  top: -166px;
  z-index: 7;
}

.part41-console{
  width: 0px;
  height: 8px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 6px solid #fff;
  transform: rotateZ(193deg);
  right: 477px;
  top: 426px;
  z-index: 7;
}

.part41-console::after{
  content: "";
  width: 0px;
  height: 8px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 6px solid #fff;
  transform: rotateZ(180deg);
  right: 36px;
  top: 1px;
  z-index: 7;
}

.part42-console{
  width: 10px;
  height: 0.5px;
  background-color:  #fff;
  transform: rotateZ(193deg);
  right: 400px;
  top: 336px;
  z-index: 9;
}

.part42-console::after{
  content: "";
  width: 8px;
  height: 0.5px;
  background-color:  #fff;
  transform: rotateZ(0deg);
  right: 1px;
  top: 1px;
  z-index: 9;
}

.part42-console::before{
  content: "";
  width: 7px;
  height: 0.5px;
  background-color:  #fff;
  transform: rotateZ(0deg);
  right: 1.4px;
  top: 2px;
  z-index: 9;
}

.part43-console{
  width: 5px;
  height: 0.5px;
  background-color:  #fff;
  transform: rotateZ(193deg);
  right: 402px;
  top: 333px;
  z-index: 9;
}

.part43-console::after{
  content: "";
  width: 3px;
  height: 0.5px;
  background-color:  #fff;
  transform: rotateZ(0deg);
  right: 1px;
  top: 1px;
  z-index: 9;
}

.part43-console::before{
  content: "";
  width: 1px;
  height: 0.5px;
  background-color:  #fff;
  transform: rotateZ(0deg);
  right: 2px;
  top: 2px;
  z-index: 9;
}

.part44-console{
  width: 10px;
  height: 0.5px;
  background-color:  #fff;
  transform: rotateZ(104deg);
  right: 329px;
  top: 612px;
  z-index: 9;
}

.part44-console::after{
  content: "";
  width: 8px;
  height: 0.5px;
  background-color:  #fff;
  transform: rotateZ(0deg);
  right: 1px;
  top: 1px;
  z-index: 9;
}

.part44-console::before{
  content: "";
  width: 7px;
  height: 0.5px;
  background-color:  #fff;
  transform: rotateZ(0deg);
  right: 1.4px;
  top: 2px;
  z-index: 9;
}

.part45-console{
  width: 5px;
  height: 0.5px;
  background-color:  #fff;
  transform: rotateZ(104deg);
  right: 334.5px;
  top: 611px;
  z-index: 9;
}

.part45-console::after{
  content: "";
  width: 3px;
  height: 0.5px;
  background-color:  #fff;
  transform: rotateZ(0deg);
  right: 1px;
  top: 1px;
  z-index: 9;
}

.part45-console::before{
  content: "";
  width: 1px;
  height: 0.5px;
  background-color:  #fff;
  transform: rotateZ(0deg);
  right: 2px;
  top: 2px;
  z-index: 9;
}

.part46-console{
  width: 4px;
  height: 40px;
  background-color:  #696969;
  border-radius: 4px;
  transform: rotateZ(178deg);
  right: 160px;
  bottom: -76px;
  z-index: 7;
}

.part47-console{
  width: 1px;
  height: 5px;
  background-color:  #5f5959;
  border-radius: 4px;
  transform: rotateZ(-125deg);
  left: 180px;
  bottom: 151px;
  z-index: 10;
}

.part47-console::before{
  content: "";
  width: 0px;
  height: 0px;
  transform: rotateZ(-222deg);
  border-bottom: 3.6px solid #353638;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  left: 46px;
  bottom: 43px;
  z-index: 10;
}

.part47-console::after{
  content: "";
  width: 0px;
  height: 0px;
  transform: rotateZ(-152deg);
  border-bottom: 4.2px solid #353638;
  border-right: 2.4px solid transparent;
  border-left: 3.3px solid transparent;
  left: -28px;
  bottom: 13.5px;
  z-index: 10;
}


.name-console{
  font-family: 'sega-font';
  font-size: 41px;
  font-weight: lighter;
  color: #fff;
  left: 270px;
  bottom: 528px;
}

.power{
  font-family: sans-serif;
  font-size: 8px;
  font-weight: lighter;
  color: #fff;
  left: 139px;
  bottom: 186px;
  transform: rotateZ(13deg);
  text-transform: uppercase;
  z-index: 44;
}

.control01-input{
  font-family: sans-serif;
  font-size: 8px;
  font-weight: lighter;
  color: #fff;
  left: 478px;
  bottom: 106px;
  transform: rotateZ(13deg);
  text-transform: uppercase;
  z-index: 44;
}

.control02-input{
  font-family: sans-serif;
  font-size: 8px;
  font-weight: lighter;
  color: #fff;
  left: 553px;
  bottom: 89px;
  transform: rotateZ(13deg);
  text-transform: uppercase;
  z-index: 44;
}

.card-input{
  font-family: sans-serif;
  font-size: 8px;
  font-weight: lighter;
  color: #fff;
  left: 884px;
  bottom: 13px;
  transform: rotateZ(13deg);
  text-transform: uppercase;
  z-index: 44;
}

.control01{
  font-family: sans-serif;
  font-size: 7px;
  font-weight: lighter;
  color: #fff;
  left: 711px;
  bottom: 239px;
  transform: rotateZ(13deg);
  text-transform: uppercase;
  z-index: 44;
}

.control02{
  font-family: sans-serif;
  font-size: 7px;
  font-weight: lighter;
  color: #fff;
  left: 733px;
  bottom: 161px;
  transform: rotateZ(13deg);
  text-transform: uppercase;
  z-index: 44;
}

.card{
  font-family: sans-serif;
  font-size: 7px;
  font-weight: lighter;
  color: #000;
  left: 655px;
  bottom: 176px;
  transform: rotateZ(13deg);
  text-transform: uppercase;
  z-index: 44;
}

.power-on{
  font-family: sans-serif;
  font-size: 7px;
  font-weight: lighter;
  color: #fff;
  left: 638px;
  bottom: 220px;
  transform: rotateZ(13deg);
  text-transform: uppercase;
  z-index: 44;
}

.cartridge{
  font-family: sans-serif;
  font-size: 7px;
  font-weight: lighter;
  color: #000;
  left: 618px;
  bottom: 267px;
  transform: rotateZ(13deg);
  text-transform: uppercase;
  z-index: 44;
}

.tv-system{
  font-family: sans-serif;
  font-size: 7px;
  font-weight: lighter;
  color: #fff;
  left: 805px;
  bottom: 181px;
  transform: rotateZ(13deg);
  text-transform: uppercase;
  z-index: 44;
}

.reset{
  font-family: sans-serif;
  font-size: 8px;
  font-weight: lighter;
  color: #fff;
  left: 685px;
  bottom: 299px;
  transform: rotateZ(13deg);
  text-transform: uppercase;
  z-index: 44;
}

.pause{
  font-family: sans-serif;
  font-size: 8px;
  font-weight: lighter;
  color: #fff;
  left: 768px;
  bottom: 280px;
  transform: rotateZ(13deg);
  text-transform: uppercase;
  z-index: 44;
}

.cartridge-input{
  font-family: sans-serif;
  font-size: 8px;
  font-weight: lighter;
  color: #fff;
  left: 716px;
  bottom: 312px;
  transform: rotateZ(13deg);
  text-transform: uppercase;
  z-index: 44;
}

.sega{
  font-family: 'sega-font';
  font-size: 20px;
  font-weight: lighter;
  color: #fff;
  left: 247px;
  top: 244px;
  transform: rotateZ(13deg);
  z-index: 44;
}

.sub-sega-name{
  font-family: serif;
  font-size: 14px;
  font-weight: lighter;
  color: #fff;
  left: 222px;
  top: 145px;
  transform: rotateZ(13deg);
  z-index: 44;
}

.registered{
  position: absolute;
  font-family: serif;
  font-size: 11px;
  color: #fff;
  left: 310px;
  top: 227px;
  transform: rotateZ(13deg);
  z-index: 44;
}

.base-console-video{
  width: 1200px;
  height: 640px;
  display: flex;
  margin-top: 821px;
  left: 50%;
  margin-left: -600px;
  background-color: #2225252e;
  z-index: 1;
}

.video{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;;
}
